@font-face {
  font-family: poetsen;
  src: url('../fonts/PoetsenOne-Regular.otf');
}

@font-face {
  font-family: sansita;
  src: url('../fonts/Sansita-Regular.otf');
}

body {
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.dialogue {
  font-family: sansita, sans-serif;
  font-size: x-large;
}

.characterName {
  font-family: poetsen, sans-serif;
  font-size: xx-large;
}

#cutie {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#textbox {
  position: absolute;
  left:0;
  bottom:0;
  height:30vh;
  width: 50vw;
}
