@font-face {
  font-family: poetsen;
  src: url('../static/fonts/PoetsenOne-Regular.otf');
}

@font-face {
  font-family: sansita;
  src: url('../static/fonts/Sansita-Regular.otf');
}

::-webkit-scrollbar {
  display: none;
}

.dialogue {
  font-family: sansita, sans-serif;
  font-size: x-large;
}

.characterName {
  font-family: poetsen, sans-serif;
  font-size: xx-large;
}

#cutie {
  position: absolute;
  height: 90vh;
  width: 100vw;
}

#textbox {
  position: absolute;
  left:0;
  bottom:0;
  height:30vh;
  width: 50vw;
}
